Source: gtk3demo
Section: python
Priority: extra
Maintainer: Josep Llaneras <email@x.y>
Build-Depends: debhelper (>= 9), python3, dh-virtualenv (>= 0.7)
Standards-Version: 3.9.5

Package: gtk3demo
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), python3.7, ${misc:Pre-Depends}
Depends: ${python:Depends}, ${misc:Depends}, libgirepository1.0-dev, gcc, libcairo2-dev, pkg-config, python3-dev, gir1.2-gtk-3.0
Description: Python GTK3 demo application.
 Python GTK3 demo application.
